@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.cleanCart {
    display: grid;
    text-align: center;
}

.cleanCart h1 {
    font-size: max(3vw,48px);
    color: #383838;
}

.cleanCart button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: max(1vw,24px);
    width: max(3vw,250px);
    padding: 10px 0px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cleanCart button:hover {
    background-color: rgb(229, 0, 0);
    color: rgb(238, 236, 236);
}

.cartRemoveItems {
    display: flex;
}

.cartRemoveItems button {
    margin-left: auto;
    font-size: max(1vw, 16px);
    border: none;
    color: white;
    background-color: red;
    width: max(8vw,50px);
    padding: 10px 0px;
    border-radius: 6px;
    cursor: pointer;
}

.cartRemoveItems button:hover {
    background-color: rgb(244, 0, 0);
    color: rgb(242, 242, 242);
}

.cart {
    margin-top: 100px;
}

.cartItems {
    margin-top: 20px;
}

.cartItemsTitle {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,20px);
}

.cartItemsItem {
    margin: 10px 0px;
    color: black;
}

.cartItemsItem img {
    width: 100px;
    height: 60px;
    border-radius: 5px;
}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cartItemsItem button {
    font-size: max(1vw,16px);
    border: none;
    color: white;
    background-color: red;
    width: max(5vw,50px);
    padding: 5px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cartItemsItem button:hover {
    background-color: rgb(244, 0, 0);
    color: rgb(242, 242, 242);
}

.cartBottom {
    margin-top: 80px;
    font-size: max(1vw, 18px);
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}

.cartTotal {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartTotalDetails {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cartTotal hr {
    margin: 10px 0px;
}

.cartTotal button {
    font-size: max(1vw, 16px);
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cartTotal button:hover {
    color: rgb(248, 248, 248);
    background-color: rgb(227, 82, 56);
}

.cartPromocode {
    flex: 1;    
}

.cartPromocode p {
    color: #555;
}

.cartPromocodeInput {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cartPromocodeInput input {
    font-size: max(1vw,18px);
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.cartPromocodeInput button {
    font-size: max(1vw,14px);
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px; 
    cursor: pointer;
}

.cartItemsItem .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

.cartItemsItem .add:hover {
    transform: scale(1.1);
}

.cartCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    background-color: white;
    border-radius: 50px;
    position: static;
}

.cartCounter p {
    display: flex;
    align-items: center;
    color: #5b5b5b;
    font-size: 32px;
    font-weight: normal;
    font-family: "Montserrat";
    cursor: pointer;
}

@media (max-width:1500px) {
    .cartItemsItem button {
        font-size: max(1vw, 14px);
    }
    .cartRemoveItems button {
        font-size: max(1vw, 14px);
    }
}

@media (max-width:1200px) {
    .cartItemsItem button {
        font-size: max(1vw, 12px);
    }
    .cartRemoveItems button {
        font-size: max(1vw, 12px);
    }
}

@media (max-width:900px) {
    .cartItemsItem button {
        font-size: max(1vw, 10px);
    }
    .cartRemoveItems button {
        font-size: max(1vw, 10px);
    }
}

@media (max-width:750px) {
    .cartBottom{
        flex-direction: column-reverse;
    }
    .cartPromocode {
        justify-content: start;
    }
    .cartItemsItem button {
        font-size: max(1vw, 8px);
    }
    .cartRemoveItems button {
        font-size: max(1vw, 8px);
    }
}