/* src/pages/MenuPage/FoodMenu.css */

.foodMenu {
    margin-left: 200px;
    margin-top: 20px;
    padding: 20px;
    min-width: calc(100% - 260px);
}

.foodMenu h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #262626;
}

.foodMenuList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
    row-gap: 50px;
}