/* src/components/ExploreMenu/ExploreMenu.css */

.exploreMenu {
    margin-top: 10px;
    min-width: 80%;
}

.exploreMenu h1 {
    font-size: max(2vw, 24px);
    color: #262626;
}

.exploreMenuText {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.exploreMenuList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
    row-gap: 50px;
    margin-top: 30px;
}

.exploreMenuListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.exploreMenuListItem img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.exploreMenuListItem p {
    font-size: 1rem;
    margin-top: 8px;
}

.exploreMenuListItem:hover,
.exploreMenuListItem.active {
    background-color: #ff6600;
    color: white;
}